<div class="tags-input-div" ng-click="onDivFocus()">
    <ul class="tag-list-ul">
        <li
                ng-repeat="tag in tagList track by $index"
                class="tag-item"
                ng-class="{'selected' : selectedIndex == $index && $index != readOnlyIndex}"
        >

            <tag-item
                    tag="tag"
                    $index = "{{ $index }}"
                    read-only-index="{{ readOnlyIndex }}"
                    selected-index="{{ selectedIndex }}"
                    display-property="{{ displayProperty }}"
                    remove-tag="removeTag($index)"
                    hide-tag-input = "data.hideTagInput"
                    tag-list = "tagList"
                    regex="regex"
                    added-keys="addedKeys"
                    binded-data="bindedData"
                    binded-key="bindedKey"
            >

            </tag-item>

        </li>
    </ul>
    <ng-form name="mailForm"  ng-show="!data.hideTagInput">

    <input
            type="text"
            name="input"
            class="tags-input tag-input-font"
            placeholder="{{ placeHolder || 'Enter value'}}"
            ng-model = "input.inputTag"
            ng-keydown="input.keyDown($event)"
            ng-focus="input.focus($event)"
			ng-click="input.click($event)"
            ng-blur="input.blur($event)"
            ng-class="{'invalid-tag': invalidTag}"
            ng-pattern="regex"
            autocomplete="off"
            ng-style="{'width': inputWidth && mailForm.input.$viewValue  ? inputWidth+'px' : 'auto'}"
    >

    </ng-form>
    <div id="inputTagDiv" class="tag-input-font">{{ mailForm.input.$viewValue}}</div>

</div>

<!--TODO-->
<div class="error-container">

    <p ng-show="mailForm.input && mailForm.input.$error.pattern">{{ errorMessages.patternError || 'Not valid data'}}</p>
    <p ng-show="mailForm.$error.isTagsMax" >{{ errorMessages.maxTags || 'Tags count is maximum'}}</p>
    <p ng-show="mailForm.$error.isDuplicate" >{{ errorMessages.duplicateTag || 'Duplicated Tag '}}</p>

	


</div>

